<template>
    <q-page>
        <div class="back">
        <p>Choose Faculty or University</p>
            <q-select class="text-white" rounded outlined v-model="facultate1.data" :options="facultate1" :dark="true"/>
                <br>

    <p>Hard Skills (Choose one or more)</p>
        <div class=" bg-grey-10 text-white">
            <q-option-group
            v-model="groupHardSkills1"
            :options="HardSkills"
            color="yellow"
            type="toggle"
            :dark="true"
            />
        </div>

    <br>
    <p>Languages (Choose one or more)</p>
        <div class="text-white">
        
            <q-option-group
            name="accepted_languages"
            v-model="groupLanguages1"
            :options="languages"
            type="checkbox"
            color="yellow"
            inline
            :dark="true"
            />
      </div>

      <br>
      <p>Soft Skills (Choose maximum 5 skills that represent you the most)</p>
        <div class="text-white">
            
                <q-option-group
                name="accepted_skills"
                v-model="groupSoftSkills1"
                :options="softSkills"
                type="checkbox"
                color="yellow"
                inline
                :dark="true"
                />
        </div>
    <br>
        </div>
     <br>
    
  
   <q-btn  class="btnAdd1" color="primary"  label="Search CV" icon-right="how_to_reg" @click="findcv()"/>
 
   
    </q-page>
</template>

<script>



export default {
  
     data(){
        return{                     
            facultate1: ['A.S.E Bucharest','UB CTI'],
            groupHardSkills1: [],
            HardSkills: [
                {
                label: 'C/C++',
                value: 'C/C++'
                },
                {
                label: 'Java',
                value: 'Java'
                },
                {
                label: 'SQL',
                value: 'SQL'
                },
                {
                label: 'C#',
                value: 'C#'
                },
                {
                label: 'HTML/CSS/JavaScript',
                value: 'HTML/CSS/JavaScript'
                }
            ],
            groupLanguages1: [],
            languages:[
                {
                label: 'Romanian',
                value: 'Romanian'
                },
                {
                label: 'English',
                value: 'English'
                },
                {
                label: "German",
                value: 'German'
                },
                {
                label: 'Italian',
                value: 'Italian'
                },
                {
                label: 'French',
                value: 'French'
                },
                {
                label: 'Russian',
                value: 'Russian'
                }
            ],

            groupSoftSkills1:[],
            softSkills:[
                 {
                label: 'Communication',
                value: 'Communication'
                },
                {
                label: 'Leadrship',
                value: 'Leadership'
                },
                {
                label: "Positive Attitude",
                value: 'Positive'
                },
                {
                label: 'Teamwork',
                value: 'Teamwork'
                },
                {
                label: 'Problem Solving',
                value: 'Problem solving'
                },
                {
                label: 'Time Management',
                value: 'Time management'
                },
                 {
                label: 'Decisiveness',
                value: 'Decisiveness'
                },
                 {
                label: 'Responsibility',
                value: 'Responsibility'
                },
                {
                label: 'Flexibility',
                value: 'Felxibility'
                },
                {
                label: 'Adaptability',
                value: 'Adaptability'
                },
                {
                label: 'Attention to Details',
                value: 'Attention to details'
                },
                  {
                label: 'Critical Thinking',
                value: 'Critical'
                },
            ],


         
    }
},
    methods:{
        
      findcv(){
        this.$axios.post("http://localhost:8081/searchCv",{
            university:this.facultate1.data,
            hardSkills:this.groupHardSkills1.toString(),
            languages:this.groupLanguages1.toString(),
            
        }).then(response=>{
            console.log(response.data);
            sessionStorage.setItem("CV",JSON.stringify(response.data));
            this.$router.push("/ListCv");
            
        }).catch(error => {
                            console.log(error.response)        
                        });
      }
       
  }
}
</script>

<style>
.q-page{
  background: #1d1d1d;
}
.btnAdd1{
    width: 100%;
}
p{
    color: Yellow;
}

</style>