<template>
   <q-page>
    
    <div class="back">
        <p>Choose Faculty or University</p>
            <q-select class="text-white" rounded outlined v-model="facultate.data" :options="facultate" :dark="true"/>
                <br>

    <p>Hard Skills (Choose one or more)</p>
        <div class=" bg-grey-10 text-white">
            <q-option-group
            v-model="groupHardSkills"
            :options="HardSkills"
            color="yellow"
            type="toggle"
            :dark="true"
            />
        </div>

    <br>
    <p>Languages (Choose one or more)</p>
        <div class="text-white">
        
            <q-option-group
            name="accepted_languages"
            v-model="groupLanguages"
            :options="languages"
            type="checkbox"
            color="yellow"
            inline
            :dark="true"
            />
      </div>

      <br>
      <p>Soft Skills (Choose maximum 5 skills that represent you the most)</p>
        <div class="text-white">
            
                <q-option-group
                name="accepted_skills"
                v-model="groupSoftSkills"
                :options="softSkills"
                type="checkbox"
                color="yellow"
                inline
                :dark="true"
                />
        </div>
    <br>
    <p>Working Experience(Title, Company,Time)</p>
       <div class="q-pa-md bg-grey-10 text-white" >
            <q-list dark bordered separator style="widht:100%">
                 <q-item clickable v-ripple>
                         <q-item-section>
                                 <q-input class="text-white" rounded outlined v-model="cvExperience.experience1" label="Experience 1" :dark="true" />
                        </q-item-section>
                 </q-item>

                 <q-item clickable v-ripple>
                         <q-item-section>
                                 <q-input class="text-white" rounded outlined v-model="cvExperience.experience2" label="Experience 2" :dark="true" />
                        </q-item-section>
                 </q-item>

                 <q-item clickable v-ripple>
                         <q-item-section>
                                 <q-input class="text-white" rounded outlined v-model="cvExperience.experience3" label="Experience 3" :dark="true" />
                        </q-item-section>
                 </q-item>
            </q-list>
         </div>

 <br>
    <p>Personal Projects(Name,Short Description)</p>
       <div class="q-pa-md bg-grey-10 text-white" >
            <q-list dark bordered separator style="widht:100%">
                 <q-item clickable v-ripple>
                         <q-item-section>
                                 <q-input class="text-white" rounded outlined v-model="cvPersonalProjects.project1" label="Project 1" :dark="true" />
                        </q-item-section>
                 </q-item>

                 <q-item clickable v-ripple>
                         <q-item-section>
                                 <q-input class="text-white" rounded outlined v-model="cvPersonalProjects.project2" label="Project 2" :dark="true" />
                        </q-item-section>
                 </q-item>

                 <q-item clickable v-ripple>
                         <q-item-section>
                                 <q-input class="text-white" rounded outlined v-model="cvPersonalProjects.project3" label="Project 3" :dark="true" />
                        </q-item-section>
                 </q-item>
            </q-list>
         </div>
         <br>
    <p>Certificates(Name,Year)</p>
       <div class="q-pa-md bg-grey-10 text-white" >
            <q-list dark bordered separator style="widht:100%">
                 <q-item clickable v-ripple>
                         <q-item-section>
                                 <q-input class="text-white" rounded outlined v-model="cvCertificate.certificate1" label="Certificate 1" :dark="true" />
                        </q-item-section>
                 </q-item>

                 <q-item clickable v-ripple>
                         <q-item-section>
                                 <q-input class="text-white" rounded outlined v-model="cvCertificate.certificate2" label="Certificate 2" :dark="true" />
                        </q-item-section>
                 </q-item>

                 <q-item clickable v-ripple>
                         <q-item-section>
                                 <q-input class="text-white" rounded outlined v-model="cvCertificate.certificate3" label="Certificate 3" :dark="true" />
                        </q-item-section>
                 </q-item>
            </q-list>
         </div>
  </div>
   <q-btn  class="btnAdd" color="primary"  label="Add CV" icon-right="how_to_reg" @click="addCV()" />
 
   
   </q-page>
</template>

<script>
 
export default {
   
    data(){
        return{   
            newCv:true,                  
            facultate: ['A.S.E Bucharest','UB CTI'],
            groupHardSkills: [],
            HardSkills: [
                {
                label: 'C/C++',
                value: 'C/C++'
                },
                {
                label: 'Java',
                value: 'Java'
                },
                {
                label: 'SQL',
                value: 'SQL'
                },
                {
                label: 'C#',
                value: 'C#'
                },
                {
                label: 'HTML/CSS/JavaScript',
                value: 'HTML/CSS/JavaScript'
                }
            ],
            groupLanguages: [],
            languages:[
                {
                label: 'Romanian',
                value: 'Romanian'
                },
                {
                label: 'English',
                value: 'English'
                },
                {
                label: "German",
                value: 'German'
                },
                {
                label: 'Italian',
                value: 'Italian'
                },
                {
                label: 'French',
                value: 'French'
                },
                {
                label: 'Russian',
                value: 'Russian'
                }
            ],

            groupSoftSkills:[],
            softSkills:[
                 {
                label: 'Communication',
                value: 'Communication'
                },
                {
                label: 'Leadrship',
                value: 'Leadership'
                },
                {
                label: "Positive Attitude",
                value: 'Positive'
                },
                {
                label: 'Teamwork',
                value: 'Teamwork'
                },
                {
                label: 'Problem Solving',
                value: 'Problem solving'
                },
                {
                label: 'Time Management',
                value: 'Time management'
                },
                 {
                label: 'Decisiveness',
                value: 'Decisiveness'
                },
                 {
                label: 'Responsibility',
                value: 'Responsibility'
                },
                {
                label: 'Flexibility',
                value: 'Felxibility'
                },
                {
                label: 'Adaptability',
                value: 'Adaptability'
                },
                {
                label: 'Attention to Details',
                value: 'Attention to details'
                },
                  {
                label: 'Critical Thinking',
                value: 'Critical'
                },
            ],


            cvExperience:{
                experience1:"",
                experience2:"",
                experience3:"",

            },
            cvPersonalProjects:{
                project1:"",
                project2:"",
                project3:"",

            },
            cvCertificate:{
                certificate1:"",
                certificate2:"",
                certificate3:"",
            }
         }
                      
    
    },
    methods:{
      addCV(){
          if(this.newCv==true){

          this.$store.dispatch("data/postCVintoDB",{
            university:this.facultate.data,
            hardSkills:this.groupHardSkills.toString(),
            languages:this.groupLanguages.toString(),
            softSkills:this.groupSoftSkills.toString(),
            workExp1:this.cvExperience.experience1.toString()+",\n"+this.cvExperience.experience2.toString()+",\n"+this.cvExperience.experience3.toString(),
            project1:this.cvPersonalProjects.project1.toString()+",\n"+this.cvPersonalProjects.project3.toString()+",\n"+this.cvPersonalProjects.project2.toString(),
            certificate1:this.cvCertificate.certificate1.toString()+",\n"+this.cvCertificate.certificate2.toString()+",\n"+this.cvCertificate.certificate3.toString()
          }).then(response=>{
            console.log(response);
            alert(response.data.message);
        })
        .catch(error => {
         console.log(error)
             });
      }
      else{
        this.$axios.put("http://localhost:8081/CV/"+sessionStorage.getItem("id"),{
            university:this.facultate.data,
            hardSkills:this.groupHardSkills.toString(),
            languages:this.groupLanguages.toString(),
            softSkills:this.groupSoftSkills.toString(),
            workExp1:this.cvExperience.experience1.toString()+",\n"+this.cvExperience.experience2.toString()+",\n"+this.cvExperience.experience3.toString(),
            project1:this.cvPersonalProjects.project1.toString()+",\n"+this.cvPersonalProjects.project3.toString()+",\n"+this.cvPersonalProjects.project2.toString(),
            certificate1:this.cvCertificate.certificate1.toString()+",\n"+this.cvCertificate.certificate2.toString()+",\n"+this.cvCertificate.certificate3.toString()
        }).then(response=>{
            console.log(response);
            alert(response.data.message);
        })
        .catch(error => {
         console.log(error)
             });
       }
     }
  },
    mounted(){
     this.$store.dispatch("data/getUserCV").then(response=>{
          this.facultate.data=sessionStorage.getItem('University');
          this.groupHardSkills=sessionStorage.getItem('HardSkills').split(",");
          this.groupLanguages=sessionStorage.getItem('Languages').split(",");
          this.groupSoftSkills=sessionStorage.getItem('SoftSkills').split(",");

          var arrayExperience=sessionStorage.getItem("WorkExp").split(",");
          this.cvExperience.experience1=arrayExperience[0];
          this.cvExperience.experience2=arrayExperience[1]; 
          this.cvExperience.experience3=arrayExperience[2]; 
          
          var arrayProjects=sessionStorage.getItem("PersonalProjects").split(",");
          this.cvPersonalProjects.project1=arrayProjects[0];
          this.cvPersonalProjects.project2=arrayProjects[1];
          this.cvPersonalProjects.project3=arrayProjects[2];

          var arrayCertificate=sessionStorage.getItem("Certificates").split(",");
          this.cvCertificate.certificate1=arrayCertificate[0];
          this.cvCertificate.certificate2=arrayCertificate[1];
          this.cvCertificate.certificate3=arrayCertificate[2];
          this.newCv=false;
        
     });    
      
  },
}
    

</script>
<style>
.q-page{
  background: #1d1d1d;
}

/* .back{
    background-color: white;
} */

.btnAdd{
    width: 100%;
}
p{
    color: Yellow;
}
</style>