<template>
    <q-page>
<q-item-label header>People that are interested in you!</q-item-label>
     <q-list bordered separator :dark="true">
         <q-item
          v-for="person in persons" 
          :key="person.id"
          clickable
          @click="person.interested=!person.interested"
           v-ripple>
            <q-item-section side top>
                <q-checkbox v-model="person.interested" />
             </q-item-section>

                        <q-item-section>
                            <q-item-label >{{person.name}}</q-item-label>
                                 <q-item-label caption>
                                     {{person.job}}
                                 </q-item-label>
                        </q-item-section>
                 </q-item>     
     </q-list>
       
     
        
    </q-page>
</template>

<script>
export default {
    data(){
        return{
            persons:[
                {
                    id:1,
                    name:"Angajator 1",
                    job:"Post intern la firma X",
                    interested:false
                },
                 {
                    id:2,
                    name:"Angajator 2",
                    job:"Post intern la firma Y",
                    interested:false
                }
            ]
        }
    },
    methods(){

    }
}
</script>

<style>
.q-page{
  background: #1d1d1d;
}
</style>