<template>
     <q-page>
    
       <div class="absolute-center">
         <div class="back">
         <q-input rounded outlined v-model="loginCompany.email" label="Email" type="email" autofocus="true"/>
        <br>
         <q-input rounded outlined v-model="loginCompany.password" label="Password" type="password"/>
        <br>
         <q-btn  class="btnLg" color="primary"  label="Log In" icon-right="how_to_reg" @click="loginCompanyFct()" />        
         
        </div>
        </div>
  
       
  
  </q-page>
</template>

<script>

export default {
    
  data() {
    return {
      loginCompany: {
        email: "",
        password: "",
       
      }
    };
  },

  methods:{
      loginCompanyFct(){
          this.$store.dispatch("data/findUserCompany",{
              email:this.loginCompany.email,
              password:this.loginCompany.password
          }).then(response => {
          console.log(response.data);
             
       
        })
        .catch(error => {
         console.log(error.response.data.message)
         
        });
      }
  }
}
</script>

<style scoped>
.q-page{
  background: #1d1d1d
}


.back{
  background:rgb(246, 246, 248);
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;

  border-radius: 10px; 
}

.absolute-center{
  width:40%; 
   
}

@media only screen and (max-width: 1044px) {
  .q-btn{padding: 3%;}
  
  .absolute-center{ width:70%;}
  
}

@media only screen and (max-width: 700px) {
 .q-btn{
   padding: 8%;
   /*margin-left:15%;  */
 }
  
.absolute-center{
  width:70%; 
   
}
}

.btnLg{
    width: 100%;
}

</style>