<template>
   <q-page>
     <br>
      <q-img
      class="profileImage"      
      :src="url"
      spinner-color="white"
      style="height: 210px; max-width: 230px"
    />
    <br>
     <q-btn class="btnPhoto" color="primary" label="Change image" @click="refresh()" /> 
<br>

      
    <div class="backProfile1">
      <br>
    <p class="p1">First Name</p>
    <p class="date">{{Fname}}</p>
    <br>
    
    <p class="p1">Last Name</p>
    <p class="date">{{Lname}}</p>
    <br>
    

    
    <p class="p1">Email</p>
    <p class="date">{{email}}</p>
    <br>
   
    <p class="p1">Phone Number</p>
    <p class="date">{{phoneNumber}}</p>
    <br>
   
    </div>
     
    
  
   </q-page>
   
</template>

<script>
import axios from 'axios';
import { mapGetters, mapState } from "vuex";


export default{
  
  data(){
          return {
            url:"https://cdn.spacetelescope.org/archives/images/screen/opo9635a1.jpg",
            Fname:"",
            Lname:"",
            email:"",
            phoneNumber:"",
            file:""        
          }
    },
   
  
  mounted(){
     this.$store.dispatch("data/getUserProfileData").then(response=>{
          this.Fname=sessionStorage.getItem('firstName');
          this.Lname=sessionStorage.getItem('lastName');
          this.email=sessionStorage.getItem('email');
          this.phoneNumber=sessionStorage.getItem('phoneNumber');
     });    
      
  },

  created(){
    
      this.$q.loading.show()

      // hiding in 2s
      this.timer = setTimeout(() => {
        this.$q.loading.hide()
        this.timer = void 0
      }, 2000)
    }
}
  
  
   

</script>
<style>
.q-page{
  background: #1d1d1d;
}
.p1{
    color: black;
    font-size: 150%;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
    
}
.profileImage{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.btnPhoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:230px;
}
.date{
  color:black;
  font-size: 150%;
  display: inline-block;
}

.backProfile1{
  background-color: white;
  width:30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  
}




@media only screen and (max-width: 640px) {
  
  
}
</style>