<template>
 <q-layout view="hHh LpR fFf">
    <q-header elevated>
      <q-toolbar content-class="bg-primary">
        <q-toolbar-title>
            <q-btn dense flat round icon="menu" @click="left = !left" class="menu"/>
            
            Welcome To My Application!
            <q-btn dense flat round icon="close" @click="logOutcompany()" class="logOut"/>
         </q-toolbar-title>  
        </q-toolbar>    
    </q-header>

     <q-drawer class="drawer" content-class="bg-primary" v-model="left" side="left" elevated
      show-if-above
      :width="300"> 
           
        <q-list>
        <q-btn clickable to="/CompanyPage"  class="face" label="Search CV" style="color: white;" name="face" icon="face"/>       
        <q-btn clickable to="/CVinterested"  class="face" label="Interested In" style="color: white;" name="description" icon="description"/> 
        
         
        </q-list>
             
    </q-drawer>    


    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import axios from 'axios';



export default {
     name: 'ProfileLayout',

  data () {
    return {
        left:false
     
    }
  },
  methods:{
    logOutcompany(){
        this.$store.dispatch("data/logOutCompany");
    }
  },
  computed:{
   
    },

  mounted(){
  
  }
  
}
</script>
<style>
  .face{
    font-size: 120%;
    color: white; 
    width:100%;
    padding-top:53%;
    padding-bottom:53%;
 
     
}

.logOut{
  float: right;
}

.menu{
  float:left;
}




</style>