<template>
 <q-layout view="hHh LpR fFf">
    <q-header elevated>
      <q-toolbar content-class="bg-primary">
        <q-toolbar-title>
           <!-- <q-btn dense flat round icon="menu" @click="left = !left" class="menu"/> -->
            
            Welcome To My Application!
            <q-btn dense flat round icon="close" @click="logOut2()" class="logOut"/>
         </q-toolbar-title>  
        </q-toolbar>    
    </q-header>

     <q-drawer class="drawer" content-class="bg-primary" v-model="left" side="left" elevated
      show-if-above
      :width="300"> 
           
        <q-list>
        <q-btn clickable to="/profilePage"  class="face1" label="Profile Page" style="color: white;" name="face" icon="face"/>       
        <q-btn clickable to="/CV" class="face1" label="Add/Edit CV" style="color: white;" name="description" icon="description"/> 
        
        <q-btn clickable to="/Interested" class="face1" label="Interested" style="color: white;" name="description" icon="format_list_bulleted"/>          
        </q-list>
             
    </q-drawer>    


    <q-page-container>
      
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import axios from 'axios';
import { getToken, getProfileData } from '../store/data/getters';


export default {
     name: 'ProfileLayout',

  data () {
    return {
        left:false
     
    }
  },
  methods:{
    logOut2(){
       this.$store.dispatch("data/logOut").then(response=>{
         console.log(response);
       }).catch(error=>{
         console.log(error)
      });
     },
  },
  computed:{
     getUser(){
       return this.$store.getters["data/getUser"];
     },
     getToken(){
       return this.$store.getters["data/getToken"];
     },
     getProfileData(){
          return this.$store.getters["data/getProfileData"];
     },
     getCV(){
       return this.$store.getters["data/getCV"];
     }
    },

  mounted(){
  //    if (localStorage.getItem('reloaded')) {
  //       // The page was just reloaded. Clear the value from local storage
  //       // so that it will reload the next time this page is visited.
  //       localStorage.removeItem('reloaded');
  //   } else {
  //       // Set a flag so that we know not to reload the page twice.
  //       localStorage.setItem('reloaded', '1');
  //       location.reload();
  //   }
  }
  
}
</script>

<style>
.face1{
    font-size: 120%;
    color: white; 
    width:100%;
    padding-top:33.5%;
    padding-bottom:32.5%;
   
}

.logOut{
  float: right;
}

.menu{
  float:left;
}

</style>

